<!-- {% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<h2 class="mb-4">Admin Dashboard</h2>

<div class="row">

<div class="col-md-3">
<div class="card bg-primary text-white p-3">
<h4>{{ total_bookings }}</h4>
<p>Total Bookings</p>
</div>
</div>

<div class="col-md-3">
<div class="card bg-warning text-dark p-3">
<h4>{{ pending }}</h4>
<p>Pending</p>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-white p-3">
<h4>{{ approved }}</h4>
<p>Approved</p>
</div>
</div>

<div class="col-md-3">
<div class="card bg-danger text-white p-3">
<h4>{{ cancelled }}</h4>
<p>Cancelled</p>
</div>
</div>

</div>

</div>

{% endblock %} -->