{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-header bg-success text-white text-center py-4">

                    <h2>🔐 Login</h2>

                    <p class="mb-0">
                        Welcome Back to Jay Goga Event Management
                    </p>

                </div>
                {% if form.errors %}

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}


{% endif %}
                <div class="card-body p-4">

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label">
    Email
</label>

<input type="text"
       name="username"
       class="form-control"
       placeholder="Enter Email"
       required>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Password
                            </label>

                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Enter Password"
                                   required>

                        </div>

                        <button type="submit"
                                class="btn btn-success w-100">

                            Login Now

                        </button>

                    </form>

                    <a href="{% url 'forgot_password' %}">
                        Forgot Password?
                    </a>

                    <hr>

                    <div class="text-center">

                        Don't have an account?

                        <a href="{% url 'register' %}">
                            Register Here
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}