{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="col-md-5 mx-auto">

<div class="card shadow">

<div class="card-body">

<h3 class="text-center">Verify OTP</h3>

<form method="POST">

{% csrf_token %}

<input
type="text"
name="otp"
class="form-control"
placeholder="Enter OTP"
required>

<br>

<button class="btn btn-success w-100">

Verify OTP

</button>

<p class="text-center mt-3">
    Resend OTP in
    <span id="timer">60</span> sec
</p>

<a href="{% url 'resend_reset_otp' user.id %}"
   id="resendBtn"
   class="btn btn-outline-primary disabled w-100">
    Resend OTP
</a>

</form>

</div>

</div>

</div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

    let timeLeft = 60;

    const timer = document.getElementById("timer");
    const resendBtn = document.getElementById("resendBtn");

    resendBtn.classList.add("disabled");
    resendBtn.style.pointerEvents = "none";

    const countdown = setInterval(function () {

        timeLeft--;
        timer.innerText = timeLeft;

        if (timeLeft <= 0) {

            clearInterval(countdown);

            timer.innerText = "0";

            resendBtn.classList.remove("disabled");
            resendBtn.style.pointerEvents = "auto";

        }

    }, 1000);

});
</script>

{% endblock %}